@import url('https://fonts.googleapis.com/css2?family=Karantina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital@0;1&display=swap');
/* font-family: 'Karantina', cursive; */
/* font-family: 'Prompt', sans-serif; */

body{
    padding-bottom: 20vh;
    background:#415264;
}

button{
    background-color: #26313d;
    border:none;
    color:white;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
}

/*app vue*/
#app {
    font-family: 'Prompt', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
    font-size: 24px;
}

#app>div>img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 40%;
}


/* Search vue*/
#mainDiv>.search-div>label{
    display:flex;
    justify-content: center;
}

#list-Songs>div>li{
    background:#5d8791;
    list-style-type: none;
    display:flex;
    justify-content: start;
}

#list-Songs>div>li>span{
    color:white;
    text-decoration: none;
}

#list-Songs>div>li>img{
}


/*MusicPlayer*/
#music-player{
    background-color:rgb(46, 46, 46);
    border-radius: 10px;
}

#music-player{
    text-align: center;
    align-items: center;
}

/*Songs*/
#song-view{
    text-align:center;
}


/*Artist vue*/
#artist-view{
    text-align: center;
}
#artist-view>img{
    width: 70%;
    border: 8px solid rgb(255, 244, 244);
}

/*Artist vue*/
#text-inArtist{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#text-inArtist>.box{
    box-sizing:border-box;
}

#text-inArtist>.box>.row{
    display:flex;
}

#text-inArtist>.box>.row>.column{
    flex:50%

}